{% extends 'parent_temp/parent_home.html' %}
{% block content %}




<div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Delete Profile</h6>
                            <form method="post">{% csrf_token %}
                                <h1>You Want to Delete your Account?</h1>
                                <br>
                                <br>
                                <br>


                                 <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Yes</button>
                                     <a href="{% url 'login' %}" type="submit"class="btn btn-primary">Cancel</a>
                                 </div>
                            </form>
                        </div>
</div>
{% endblock %}