{% extends 'student_temp/student_home.html' %}
{% block content %}
{% load static %}
<div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-3">payment Status</h6>
                            <form method="post">{% csrf_token %}
                                {% for payments in payment %}

                                <div class="row mb-3">

                                    <label for="" class="col-sm-2 col-form-label">Name :</label>
                                    <div class="col-sm-10">
                                        {{payments.student}}
                                    </div>
                                </div>
                                <div class="row mb-3">

                                    <label for="" class="col-sm-2 col-form-label">amount :</label>
                                    <div class="col-sm-10">
                                        {{payments.from_date}}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="" class="col-sm-2 col-form-label">Booking Date:</label>
                                    <div class="col-sm-10">
                                        {{payments.to_date}}
                                    </div>
                                </div>
                                <div class="row mb-3">

                                    <label for="" class="col-sm-2 col-form-label">booked_by:</label>
                                    <div class="col-sm-10">
                                        {{payments.room_rent}}
                                    </div>
                                </div><div class="row mb-3">

                                    <label for="" class="col-sm-2 col-form-label">mess_bill:</label>
                                    <div class="col-sm-10">
                                        {{payments.mess_bill}}
                                    </div>
                                </div><div class="row mb-3">

                                    <label for="" class="col-sm-2 col-form-label">Amount:</label>
                                    <div class="col-sm-10">
                                        {{payments.get_total}}
                                    </div>
                                </div>
                                 <div class="col-sm-10">
                                     {% if payments.status == False %}
                                <a href="{% url 'do_payment' payments.id %}" class="btn btn-primary">pay</a>
                              {% else %}
                                     <button class="btn btn-success">Fee Paid</button>
                                     {% endif %}
                            </div>


                                {% endfor %}
<!--                                <fieldset class="row mb-3">-->
<!--                                    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>-->
<!--                                    <div class="col-sm-10">-->
<!--                                        <div class="form-check">-->
<!--                                            <input class="form-check-input" type="radio" name="gridRadios"-->
<!--                                                id="gridRadios1" value="option1" checked>-->
<!--                                            <label class="form-check-label" for="gridRadios1">-->
<!--                                                First radio-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                        <div class="form-check">-->
<!--                                            <input class="form-check-input" type="radio" name="gridRadios"-->
<!--                                                id="gridRadios2" value="option2">-->
<!--                                            <label class="form-check-label" for="gridRadios2">-->
<!--                                                Second radio-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </fieldset>-->
<!--                                <div class="row mb-3">-->
<!--                                    <legend class="col-form-label col-sm-2 pt-0">Checkbox</legend>-->
<!--                                    <div class="col-sm-10">-->
<!--                                        <div class="form-check">-->
<!--                                            <input class="form-check-input" type="checkbox" id="gridCheck1">-->
<!--                                            <label class="form-check-label" for="gridCheck1">-->
<!--                                                Check me out-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <button type="submit" class="btn btn-primary">Sign in</button>-->
                            </form>
                        </div>
                    </div>

{% endblock %}