{% extends 'student_temp/student_home.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Complaint Register</h6>
                            <form method="post">{% csrf_token %}
                            <div class="form-floating mb-3">
                                {{form|crispy}}

<!--                                <input type="text" class="form-control" id="floatingInput"-->
<!--                                    placeholder="subject" name="subject">-->
<!--                                <label for="floatingInput">Subject</label>-->
<!--                            </div>-->
<!--                            <div class="form-floating mb-3">-->
<!--                                <input type="date" class="form-control" id="floatingPassword"-->
<!--                                    placeholder="date" name="date">-->
<!--                                <label for="floatingPassword">Date</label>-->
<!--                            </div>-->
<!--
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="complaints"
                                    id="floatingTextarea" style="height: 150px;" name="complaint"></textarea>
                                <label for="floatingTextarea">Complaint</label>
                            </div>
<!--                            <br>-->
<!--                              <div class="col-sm-10">-->
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                            </form>

                        </div>
                    </div>

{% endblock %}