{% extends 'admin_temp/admin_home.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add Fees</h6>
                            <form method="post" data_bill_url="{% url 'ajax_load_bill' %}">{% csrf_token %}
                            <div class="form-floating mb-3">
                                {{form|crispy}}


                            <br>
                            <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                        </div>
                            </form>
                    </div>
                    </div>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
    $("#id_to_date").change(function () {
        const url = $("#form").attr("data-bill-url");

        const to_date = $(this).val();
       const from_date = document.getElementById("id_from_date").value;
       const studentId = document.getElementById("id_student").value;



        $.ajax({
            url: url,
            data: {
                'to_date': to_date,
                'from_date': from_date,
                'studentId': studentId,

            },
            success: function (data) {

                $( "#id_mess_bill" ).val(data.mess_bill);
                $( "#id_room_rent" ).val(data.room_rent);


                }

        });

    });


</script>

{% endblock %}