<!DOCTYPE html>
{% extends 'admin_temp/admin_home.html' %}
{% block content %}
{% load static %}


<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Add Attendance</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">SLNO</th>
                    <th scope="col">Date</th>
                    <th scope="col">View</th>
                </tr>
                </thead>
                <tbody>
                {% for i in attendances %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{i}}</td>
                    <td><a href="{% url 'day_attendances' i %}">view</a> </td>

                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}