<!DOCTYPE html>
{% extends 'admin_temp/admin_home.html' %}
{% block content %}
{% load static %}


<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">View Student</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
<!--                    <th scope="col">#</th>-->
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact_no</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>

<!--                    <th scope="col">ZIP</th>-->
<!--                    <th scope="col">Status</th>-->
                </tr>
                </thead>
                <tbody>
                {% for i in data %}
                <tr>
<!--                    <th scope="row">1</th>-->
                    <td>{{i.name}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.contact_no}}</td>
                    <td>{{i.email}}</td>
                <td>
                {% if student.approval_status == 0 %}
                <a href="{% url 'approve_student' i.id %}"><button class="btn btn-success">Approve</button> </a>
                    <a href="{% url 'reject_student' i.id %}"><button class="btn btn-danger">Reject</button> </a>
                {% elif student.approval_status == True %}
                    <p class="btn btn-success">approve</p>
                {% else %}
                    <p class="btn btn-danger">Reject</p>
                {% endif %}
                </td>
                </tr>


                </tbody>
                {% endfor %}
            </table>
        </div>

{% endblock %}